<a href="https://colab.research.google.com/github/Dhineshks/nlp-workouts/blob/master/Classification/text_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%cd drive/MyDrive/nlp

/content/drive/MyDrive/nlp

In [2]:
import pandas as pd

train_data = pd.read_csv("Corona_NLP_train.csv",encoding='latin-1')
train_data.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [3]:
# lowercasing text

train_data['OriginalTweet'] = train_data['OriginalTweet'].astype(str).str.lower()
train_data.head(6)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@menyrbie @phil_gahan @chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia: woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the #cov...",Extremely Negative
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,as news of the regionâs first confirmed covid...,Positive

In [4]:
# A RegexpTokenizer splits a string into substrings using regular expressions. \w+ matches Unicode word characters with one or more occurrences.

from nltk.tokenize import RegexpTokenizer

regexp = RegexpTokenizer('\w+')

train_data['tweet'] = train_data['OriginalTweet'].apply(regexp.tokenize)
train_data.head(6)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,tweet
0,3799,48751,London,16-03-2020,@menyrbie @phil_gahan @chrisitv https://t.co/i...,Neutral,"[menyrbie, phil_gahan, chrisitv, https, t, co,..."
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive,"[advice, talk, to, your, neighbours, family, t..."
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia: woolworths to give elde...,Positive,"[coronavirus, australia, woolworths, to, give,..."
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive,"[my, food, stock, is, not, the, only, one, whi..."
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the #cov...",Extremely Negative,"[me, ready, to, go, at, supermarket, during, t..."
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,as news of the regionâs first confirmed covid...,Positive,"[as, news, of, the, regionâ, s, first, confirm..."

In [5]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [6]:
# stopwords are some common words like "the", "and", "I", "is", "are" etc, and these words don't provide any useful information. Hence these words can be dropped.

from nltk.corpus import stopwords

stop_words = stopwords.words('english')

custom_stopwords = ['https']
stop_words.extend(custom_stopwords)

train_data['tweet'] = train_data['tweet'].apply(lambda x: [item for item in x if item not in stop_words])
train_data.head(6)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,tweet
0,3799,48751,London,16-03-2020,@menyrbie @phil_gahan @chrisitv https://t.co/i...,Neutral,"[menyrbie, phil_gahan, chrisitv, co, ifz9fan2p..."
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive,"[advice, talk, neighbours, family, exchange, p..."
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia: woolworths to give elde...,Positive,"[coronavirus, australia, woolworths, give, eld..."
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive,"[food, stock, one, empty, please, panic, enoug..."
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the #cov...",Extremely Negative,"[ready, go, supermarket, covid19, outbreak, pa..."
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,as news of the regionâs first confirmed covid...,Positive,"[news, regionâ, first, confirmed, covid, 19, c..."

In [7]:
# nltk.download('wordnet')
# nltk.download('omw-1.4')

In [8]:
# stemming is the process of removing word affixes. For example the word "Jumping" can be reduced to "Jump".

from nltk.stem.porter import PorterStemmer 

def apply_stemming(tokenized_column):

  stemmer = PorterStemmer()
  return [stemmer.stem(word) for word in tokenized_column]

In [9]:
train_data['tweet'] = train_data.apply(lambda x: apply_stemming(x['tweet']), axis=1)

train_data.head(7)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,tweet
0,3799,48751,London,16-03-2020,@menyrbie @phil_gahan @chrisitv https://t.co/i...,Neutral,"[menyrbi, phil_gahan, chrisitv, co, ifz9fan2pa..."
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive,"[advic, talk, neighbour, famili, exchang, phon..."
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia: woolworths to give elde...,Positive,"[coronaviru, australia, woolworth, give, elder..."
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive,"[food, stock, one, empti, pleas, panic, enough..."
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the #cov...",Extremely Negative,"[readi, go, supermarket, covid19, outbreak, pa..."
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,as news of the regionâs first confirmed covid...,Positive,"[news, regionâ, first, confirm, covid, 19, cas..."
6,3805,48757,"35.926541,-78.753267",16-03-2020,cashier at grocery store was sharing his insig...,Positive,"[cashier, groceri, store, share, insight, covi..."

In [12]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [13]:
# lemmatization is the process that basically reduces each word to it's root. For example the word "funny" can be reduced to "fun".
# POS tag assign part of speech to every word in a string. Using POS can improve the result of lemmatization.

from nltk.corpus import wordnet as wn
from nltk.stem import WordNetLemmatizer
from nltk import pos_tag
from collections import defaultdict

def apply_lemmatizer(stemmed_column):
  tag_map = defaultdict(lambda : wn.NOUN)
  tag_map['J'] = wn.ADJ
  tag_map['V'] = wn.VERB
  tag_map['R'] = wn.ADV

  wordnet_lem = WordNetLemmatizer()
  return [wordnet_lem.lemmatize(word, tag_map[tag[0]]) for word, tag in pos_tag(stemmed_column)]

In [14]:
train_data['tweet'] = train_data.apply(lambda x: apply_lemmatizer(x['tweet']), axis=1)
train_data.head(7)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,tweet
0,3799,48751,London,16-03-2020,@menyrbie @phil_gahan @chrisitv https://t.co/i...,Neutral,"[menyrbi, phil_gahan, chrisitv, co, ifz9fan2pa..."
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive,"[advic, talk, neighbour, famili, exchang, phon..."
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia: woolworths to give elde...,Positive,"[coronaviru, australia, woolworth, give, elder..."
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive,"[food, stock, one, empti, pleas, panic, enough..."
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the #cov...",Extremely Negative,"[readi, go, supermarket, covid19, outbreak, pa..."
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,as news of the regionâs first confirmed covid...,Positive,"[news, regionâ, first, confirm, covid, 19, cas..."
6,3805,48757,"35.926541,-78.753267",16-03-2020,cashier at grocery store was sharing his insig...,Positive,"[cashier, groceri, store, share, insight, covi..."

In [15]:
def rejoin_words(col):

  return (" ".join(col))

In [16]:
train_data['tweet'] = train_data.apply(lambda x: rejoin_words(x['tweet']), axis=1)
train_data.head(7)

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,tweet
0,3799,48751,London,16-03-2020,@menyrbie @phil_gahan @chrisitv https://t.co/i...,Neutral,menyrbi phil_gahan chrisitv co ifz9fan2pa co x...
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive,advic talk neighbour famili exchang phone numb...
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia: woolworths to give elde...,Positive,coronaviru australia woolworth give elderli di...
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive,food stock one empti pleas panic enough food e...
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the #cov...",Extremely Negative,readi go supermarket covid19 outbreak paranoid...
5,3804,48756,"ÃT: 36.319708,-82.363649",16-03-2020,as news of the regionâs first confirmed covid...,Positive,news regionâ first confirm covid 19 case come ...
6,3805,48757,"35.926541,-78.753267",16-03-2020,cashier at grocery store was sharing his insig...,Positive,cashier groceri store share insight covid_19 p...